{% extends 'base.html' %}
{% block title %}Curioso{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="font_satisfy">Learn about Data!!</h1>
  <p></p>
  <form class="form-inline">

  </form>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6" >
      hell
      deeper hell
      deepest hell
      <h1 class="font_satisfy">Let's be more Curious</h1>
      <p class="lead">Curioso brings to you a wonderful collection of blogs, courses & comics to make you knowledgeable as well as curious about Data Analytics and Machine Learning. </p>
      <button class="btn btn-default btn-lg" onclick="javascript:document.location='{% url "register" %}'">Sign up</button>
      <!--<input type="button" onclick="location.href='{% url "register" %}';" value="Signup" />-->
    </div>
  </div>
</div>
<br><br><br><br><br>

<!-- Container (About Section) -->
<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">
      <h2>Read Blogs</h2>
      <p class="lead">Wonderful collection of blogs to help you with the tit bits of Machine Learning and Data Analytics.</p>
      <button class="btn btn-default btn-lg" onclick="javascript:document.location='{% url "curiosoblog:list" %}'">Start Reading</button>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <img src="./static/img/blog.png" class="img-rounded" alt="Blog icon" height="236">
    </div>
  </div>
</div>
<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <img src='./static/img/comic1.png' class="img-rounded" alt="Blog icon" height="236">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
      <h2>Enjoy Comics</h2>
      <p class="lead">Wonderful collection of blogs to help you with the tit bits of Manchine Learning and Data Analytics.</p>
      <button class="btn btn-default btn-lg">Start Reading</button>
    </div>
  </div>
</div>
<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">
      <h2>Tutorials</h2>
      <p class="lead">Wonderful collection of blogs to help you with the tit bits of Manchine Learning and Data Analytics.</p>
      <button class="btn btn-default btn-lg">Browse Courses</button>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <img src='./static/img/tutorial1.png' class="img-responsive" alt="Tutorial icon">
    </div>
  </div>
</div>
<br><br><br><br><br>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center bg-grey">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>SOFTWARE DESIGN & DEVELOPMENT</h4>
      <p>Curioso is an emerging organization will help you in design and development of software services.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>WEBSITE DESIGN AND DEVELOPMENT</h4>
      <p>Make your inhabitancy more beckoning with curioso.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>TEXT ANALYTICS PROJECTS</h4>
      <p>Text analytics software can help by transposing words and phrases in unstructured data into numerical values which can then be linked with structured data in a database and analysed with traditional data mining techniques.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>DESIGNING</h4>
      <p>Make your trademark more accurate and authentic with our expert graphics designing team.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>PROJECT IDEATION</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">CAREER COUNSELLING</h4>
      <p>We aim psychological and social empowerment of individuals and organization through curioso by providing individual counselling by our experts from organizations and Industry.</p>
    </div>
  </div>
</div>


<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>

    <div>
      <p align="center">Contact us and we'll get back to you within 24 hours.</p>
      <p align="center"><span class="glyphicon glyphicon-map-marker"></span> Vidisha, India</p>
      <p align="center"><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p align="center"><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <!--<div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>-->

</div>

{% endblock %}
