{% extends 'home/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <br><br>
    <div class="container ">
        <br><br>
        <div class='col-sm-6 col-sm-offset-3'>
        <h1 align="center">Feedback</h1>
        <p align="center">For better experience and regular updates Signup with curioso</p>
          <hr/>
            <form method='POST' onsubmit="myFunction()" enctype='multipart/form-data'>{% csrf_token %}
            {{ form|crispy }}
            <input type='submit'  class="btn btn-primary center-block" value='Submit Feedback' />
            <script>
            function myFunction() {
                alert("The form was submitted");
            }
            </script>
            <br><br>
            </form>
        </div>
        <br><br>
    </div>

{% endblock content %}
