<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TMP00035</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/carouselScript.js"></script>
<link href="css/carousel.css" rel="stylesheet" type="text/css">
</head>

<!---header-wrap-end--->
<div class="banner-wrap">
  <div class="banner">
    <div class="banner-img">
	<div id="carousel">
		<div id="slides">
				<ul>
						<li><img src="images/banner1.jpg"  alt="Slide 1"/></li>
						<li><img src="images/banner2.jpg"  alt="Slide 2"/></li>
						<li><img src="images/banner3.jpg"  alt="Slide 3"/></li>
				</ul>
				<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="buttons"> <a href="#" id="prev">prev</a> <a href="#" id="next">next</a>
				<div class="clear"></div>
		</div>
</div>

	</div>

  </div>
  <div class="clearing"></div>
</div>
<!---banner-end--->
<div class="page">
  <div class="primary-col">
    <div class="generic">
      <div class=" panel">
        <div class="title">
          <h1>Curabitur euismod risus vitae nisl facilisis vitae</h1>
        </div>
        <div class="content"> <img src="images/img1.jpg" alt="image"  class="float-left mar-right30"/>
          <h2>Maecenas adipiscing eros vel purus port
            titor pretium tesque id quam risus</h2>
          <p>Sed rutrum ullamcorper dolor, ac gravida sapien cursus vitae. Curabitur iaculis, lacus ac auctor semper, lectus tortor iaculis enim</p>
          <p>euismod nulla, vel fermentum orci nulla nec odio. In turpis urna, scelerisque ut egestas id</p>
          <div class="button float-left"><a href="#">More Info</a></div>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
    <div class="wrap-1">
      <div class="panel float-left">
        <div class="title">
          <h1>Lorem ipsum dolor </h1>
        </div>
        <div class="content"> <img src="images/img2.jpg" alt="image"  class="float-left mar-right20"/>
          <h2><a href="#">Class aptent taciti soc iosqu ad litora</a></h2>
          <p>Etiam laoreet tincidunt rhoncus. Nullam euismod. </p>
        </div>
      </div>
      <div class="panel float-right">
        <div class="title">
          <h1>Lorem ipsum dolor </h1>
        </div>
        <div class="content"> <img src="images/img3.jpg" alt="image"  class="float-left mar-right20"/>
          <h2><a href="#">Class aptent taciti soc iosqu ad litora</a></h2>
          <p>Nunc dignissim risus id metus.Cras ornare tristique.</p>
        </div>
      </div>
      <div class="panel float-left">
        <div class="title">
          <h1>Lorem ipsum dolor </h1>
        </div>
        <div class="content"> <img src="images/img4.jpg" alt="image"  class="float-left mar-right20"/>
          <h2><a href="#">Class aptent taciti soc iosqu ad litora</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
      </div>
      <div class="panel float-right">
        <div class="title">
          <h1>Lorem ipsum dolor </h1>
        </div>
        <div class="content"> <img src="images/img5.jpg" alt="image"  class="float-left mar-right20"/>
          <h2><a href="#">Class aptent taciti soc iosqu ad litora</a></h2>
          <p>Aliquam tincidunt mauris eu risus. Vestibulum auctor.</p>
        </div>
      </div>
    </div>
    <div class="generic bdr-bottom-none">
      <div class=" panel">
        <div class="title">
          <h1>Curabitur euismod risus vitae nisl facilisis vitae</h1>
        </div>
        <div class="content">
          <h2>Integer congue gravida eros ac interdum. Nam suscipit, eros vitae pulvinar dapibus, leo <br />
            augue scelerisque lorem, ut elementum augue elit non </h2>
          <p>Vestibulum purus metus, luctus euismod mattis nec, tristique vitae ipsum. Phasellus dapibus, nisi ut interdum fermentum, turpis tellus semper massa, sit amet placerat sapien justo non ipsum. Vestibulum enim erat, mattis vel aliquet quis, mollis sit amet ligula. Mauris lobortis blandit aliquam. Curabitur quam risus, condimentum vel eleifend et, tincidunt vitae lacu et urna eu eros euismod te.</p>
          <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
          <div class="button"><a href="#">More Info</a></div>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
