{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-sm-3">
      </div>

      <div class="col-sm-6">
        <br><br><br><br>
        <p class="lead">
          <br><br>
          Your password has been set. You may go ahead and <a href="{% url 'login' %}">Log in</a> now.
        </p>
        <a href="{% url 'login' %}"><button type="submit" class="btn btn-primary center-block">Log in</button></a>
        <br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
{% endblock %}
