<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% extends 'home/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<body>
<div class="background-picture">
<div class="row">
    <br><br><br>
    <div class='w3-card-4 col-sm-4 col-sm-offset-4 w3-white'>
            <h1 align="center">{{ title }}</h1>
            <p align="center">For better experience and regular updates Signup with curioso</p>
        <hr/>
            <form method='POST' action='onsubmit="myFunction()' enctype='multipart/form-data'>{% csrf_token %}
            {{ form|crispy }}
            <input type='submit'  class="btn btn-primary center-block" value='Signup' />
        <hr/>
            <p align="center">Already a user <a href="{% url "login" %}"><b><u>Login</u></b></a></p>
            <p align="center">(We won't share anything without your permission)</p>
            </form>
    </div>
</div>
<br>
</div>

</body>
{% endblock content %}
