{% load staticfiles %}

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href={% static 'css/style.css' %}>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://use.fontawesome.com/6fd04d4978.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% load crispy_forms_tags %}

{% block content %}

<div class='col-sm-4 col-sm-offset-4  '>

<h1 align="center">{{ title }}</h1>
<p align="center">For better experience and regular updates Signup with curioso</p>
  <hr/>
  <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form|crispy }}
    <input type='submit'  class="btn btn-primary center-block" value='Signup' />
<hr/>
    <p align="center">(We won't share anything without your permission)</p>
  </form>


{% endblock content %}
