{% extends 'home/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="background-picture">
    <div class="row">
        <br><br><br>
        <div class="white">
            <div class=' w3-card-4 col-sm-4 col-sm-offset-4 '>
                <h1 align="center">Solo Curioso</h1>
                <p align="center">Login here with curioso Username and Password</p>
                  <hr/>
                  <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                    {{ form|crispy }}
                    <input type='submit' class="btn btn-primary center-block" value='Login' />
                    <hr/>
                    <p align="center">New user, signup with Solo Curioso <a href="{% url "register" %}"> Register</a> </p>
                    <p><a href="{% url "password_reset" %}">Forget Password</a> </p>
                  </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
